name: CI with OpenID Connect

on:
  push:
    branches: [ main ]

permissions:
    id-token: write
    contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_354E1CA4CF0343D284BAE726F7281965 }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9DCC43C0DB51470BA74B49386C415B3C }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_77EF4131E0984524B4A2BA739063A036 }}

    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        inlineScript: |
            az storage blob upload-batch --account-name nickromantstorageacc --auth-mode key -d '$web' -s noparsley
    - name: Purge CDN endpoint
      uses: azure/CLI@v1
      with:
        inlineScript: |
           az cdn endpoint purge --content-paths  "/*" --profile-name "nickromantfrontdoor" --name "nickromantfrontdoor-bcgaeveuctchf4ap.z01.azurefd.net" --resource-group "home"

  # Azure logout
    - name: logout
      run: |
            az logout
      if: always()